$green: #506d20;
$grey: #f6f9f2;
$dark-grey: #334148;
$dark-green: #1e280c;
$white-green: #fbfef1;
$bright-green: #a2e13a;
$green_hover:#80b32f;


$shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
$text-shadow: 3px 3px 5px rgba(150, 150, 150, 0.5);
$text-shadow-big: 4px 4px 6px rgba(150, 150, 150, 0.8);

