header {
  .title {
    color: #362694;
    font-family: 'Segoe UI Regular';
  }

  .img {
    width: 200px;
    height: 200px;
    background: url('.././img/pack.png') 0 0 / contain no-repeat;
  }
}
