nav
  .nav_logo 
    include ../.././img/logo.svg
  .nav_item о нас
  .nav_item тренеры
  .nav_item расписание и цены
  .nav_item контакты
  .nav_item еще
    .nav_arrow-down
  .nav_phone +7 (926) 922-59-74
  .nav_btn
    .btn_wrap
    .btn_text заказать звонок
  