.map
  .container
    include ../.././common/title/title
      block text
        |НАШИ ЦЕНТРЫ
    .map_decription
      |К нам легко добраться!<br/>
      |Филиалы школы “Антарес” в Москве и МО 
    .map_wrap
      .map_img
      .map_item.map_item__1
        a(href="#")
          |КУРКИНО
      .map_item.map_item__2
        a(href="#")
          |МИТИНО
      .map_item.map_item__3
        a(href="#")
          |МЯКИНИНО
      .map_item.map_item__4
        a(href="#")
          |МЕДВЕДКОВО
      .map_item.map_item__5
        a(href="#")
          |СЕВЕРНОЕ ТУШИНО
      .map_item.map_item__6
        a(href="#")
          |ЮЖНОЕ ТУШИНО
      .map_item.map_item__7
        a(href="#")
          |ВЫХИНО
      .map_item.map_item__8
        a(href="#")
          |ЛЮБЛИНО
      .map_item.map_item__9
        a(href="#")
          |НЕКРАСОВКА
      .map_item.map_item__10
        a(href="#")
          |ЛЮБЕРЦЫ
    .map_btn
      a(href="#")
        |АДРЕСА ФИЛИАЛОВ
        
        
    
