@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/SegoeUIRegular/SegoeUI.woff') format('woff'), url('./../fonts/SegoeUIRegular/SegoeUI.ttf') format('truetype');
}
