@font-face {
  font-family: "Segoe UI Regular";
  src: url("./../fonts/SegoeUIRegular/SegoeUI.woff") format("woff"), url("./../fonts/SegoeUIRegular/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
