* {
  box-sizing: border-box;
  padding: 0;
  border: 0 none;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
}
