.reasons
  .container
    .title
      .title_content
        include ./img/ball_1.svg
        .title_text
          |НАШИ ЦЕНТРЫ
        include ./img/ball_2.svg
    .reasons_decription
      |К нам легко добраться!<br/>
      |Филиалы школы “Антарес” в Москве и МО 