header
  .container
    .header_half-1
      .header_img-girl 
    .header_half-2
      .header_slogan
        |Фанатичная тяга к теннису
      .header_title
        |ШКОЛА<br/>
        |БОЛЬШОГО<br/>
        |ТЕННИСА
      .header_info
        |Школа тенниса для<br/>
        |детей от 4-х лет и взрослых
      .header_social
        .text
          |МЫ В СОЦИАЛЬНЫХ СЕТЯХ:
        .icons
          .icon
            a(href="")
              include ./img/vk.svg
          .icon
            a(href="")
              include ./img/whatsapp.svg
          .icon
            a(href="")
              include ./img/telegram.svg
          .icon
            a(href="")
              include ./img/youtube.svg
          .icon
            a(href="")
              include ./img/instagram.svg
        
        