nav
  .container
    .nav_logo 
      a(href="#")
        include ../../.././img/page-1/logo.svg
        .nav_logo-text
          |теннис<br/>
          span
            |антарес
    .nav_items      
      .nav_item 
        a(href="#")
          |о нас
      .nav_item 
        a(href="#")
          |тренеры
      .nav_item
        a(href="#")
          |расписание и цены
      .nav_item 
        a(href="#")
          |контакты
      .nav_item.nav_item__more 
        .item
          a(href="#")
            |еще
          .nav_arrow-down
            include ../../.././img/page-1/arrow-down.svg
        .list
          .list_content
            a(href="#")
              |летний отдых
            a(href="#")
              |профессионалам 
            a(href="#")
              |любителям
    .nav_phone +7 (926) 922-59-74
    .nav_btn
      .btn_wrap
        |заказать звонок
  